body { 
        font-family: "Times New Roman", Serif; 
}
h1, h2, h3 {
        font-family: Tahoma, Geneva, sans-serif;
        font-weight: normal;
}
.remark-code, .remark-inline-code { 
        font-family: "Courier New", Courier, Monospace;
}
