body { 
        font-family: "Times New Roman", Serif; 
        color: #000000;
}
h1, h2, h3 {
        font-family: Tahoma, Geneva, sans-serif;
        font-weight: normal;
        padding:0;margin:0;
        margin-top: 20px;
        color: #222288;
}
a {
        color: #0000FF;
}
.remark-code, .remark-inline-code { 
        font-family: "Courier New", Courier, Monospace;
}

.footer {
        font-size: small;
        text-align: left;
        position: absolute;
        bottom: 15px;
}
.topbox {
        background-color: #EEEEFF;
        padding: 1px 0px;
        margin-top: 5px;
        margin-bottom: 50px;
        border-radius: 15px;
        text-align: left;
}
.fitimg{
        margin:0;
        margin-left:-30px;
}
